body {
  font-family: "Muli", sans-serif;
  position: relative;
}

.container2 {
  @media screen and (max-width: 1024px) {
    padding: 0 5%;
  }

  @media screen and (max-width: 1281px) {
    padding: 0 5%;
  }
}

.cloud {
  @media screen and (max-width: 768px) { 
      height: 443px !important;
    }
}

a {
  text-decoration: none;
}

.ob-btn {
  display: inline-flex;
  background-color: #ff690f;
  color: #fff;
  border: 1px solid currentColor; //currentColor - наследует цвет текста єлемента
  height: 2.5rem;
  width: 13.5rem;
  border-radius: 0.8rem;
  align-items: center;
  font-size: 0.875rem;
  padding: 0 1em;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  outline: none;

  &__arrow {
    margin-left: 0.75rem;
    padding-left: 0.75rem;
    border-left: 1px solid currentColor;
  }

  &:hover {
    color: aquamarine;
    // font-size: 0.895rem;
    border: 1px solid aquamarine;
    background-color: lighten(#ff690f, 16.25%);

   
  }

  &:active {
    background-color: darken(#ff690f, 6.25%);
  }

  @media screen and (max-width: 1281px) {
    // display: none;
    height: 2.2rem;
    width: 11.5rem;
    border-radius: 0.6rem;
    align-items: center;
    font-size: 0.775rem;
    padding: 0 1em;
    letter-spacing: 0.05em;
  }

  @media screen and (max-width: 1024px) {
    // display: none;
    height: 2.2rem;
    width: 11.5rem;
    border-radius: 0.6rem;
    align-items: center;
    font-size: 0.775rem;
    padding: 0 1em;
    letter-spacing: 0.05em;
  }
}

.ob-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 119px;
  display: flex;
  align-items: center;
  overflow: hidden;

  &-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0 5%;
    overflow: hidden;
  }
}

.ob-menu {
  display: flex;
  align-items: center;
  list-style: none;

  &__item {
    position: relative;
  }

  &__item + &__item {
    margin-left: 2.5rem;
    @media screen and (max-width: 1280px) {
      margin-left: 2rem;
    }

  }

  &__link {
    color: white;
    text-decoration: none;
    font-size: 0.875rem;
    text-transform: capitalize;
    transition: 0.4s;
    outline-color: yellowgreen;

    @media screen and (max-width: 1280px) {
      font-size: 1rem;
    }


    @media screen and (max-width: 1024px) {
      display: block;
      font-size: 4.875rem;
      font-weight: 700;
      color:rgb(255, 105, 15);
      text-transform: uppercase;
      width: 100%;

      &:hover {
        background-color: solid rgba(255, 255, 255, 0.21) 2px;
      }
    }

    &:hover {
      border-bottom: solid rgba(255, 255, 255, 0.21) 2px;
      // text-shadow: 1px 1px 1px aquamarine, 1px 1px 1rem orange;
      text-shadow: 0px 0px 2px aquamarine, 0 0 1em orange;
    }
  }
}

@media screen and (max-width: 1024px) {
  #menuOpen {
    opacity: 0;

    &:checked ~ .ob-menu__btn > span {
      transform: rotate(45deg);
    }

    &:checked ~ .ob-menu__btn > span::before {
      top: 0;
      transform: rotate(0);
    }

    &:checked ~ .ob-menu__btn > span::after {
      top: 0;
      transform: rotate(90deg);
    }

    &:checked ~ .ob-menu {
      transform: translateX(0);
    }
  }

  .ob-menu {
    position: fixed;
    left: 0;
    top: -17px;
    width: 100vw;
    min-height: 100vh;
    background-color: #fff;
    transform: translateX(-100%);
    flex-direction: column;
    align-items: flex-start;
    padding: 30px 15px 30px 30px;
    transition: transform 0.4s;

    &__item + &__item {
      margin-left: 0;
    }

    &_onClick{
      display: flex; 
      flex-direction: column;
      justify-content: space-around;
      // background-color: rgba(255, 105, 15, .2);
      background-color: #2e5386;
      background: url(../img/header_background.jpg) no-repeat;
      background-size: cover; 
          }

    &-item_onClick{
      width: 100%;
      text-align: left;
          
    }

    &-item_hover{
      background-color: rgba(255, 105, 15, .2);
    }

    &__btn {
      display: flex; /* используем flex для центрирования содержимого */
      align-items: center; /* центрируем содержимое кнопки */
      position: fixed;
      top: 30px;
      right: 30px;
      width: 60px;
      height: 60px;
      cursor: pointer;
      z-index: 5;
      transition-duration: 0.25s;

      @media screen and (max-width: 768px) { 
        right: 70px;
      }
      

      & > span,
      & > span::before,
      & > span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 4px;
        background-color: rgba(255, 105, 15, .7);
        transition-duration: 0.25s;
      }

      & > span::before {
        content: "";
        top: -15px;
      }

      & > span::after {
        content: "";
        top: 15px;
      }
    }
  }
}

.ob-hero {
  position: relative;
  min-height: calc(100vh - 119px);
  height: 100vh;
  width: 100%;
  background-color: #2e5386;
  background: url(../img/header_background.jpg) no-repeat;
  background-size: cover;
  padding: 15vh 0;
  margin: 0 auto;
  overflow: hidden;
  // background-position: center;

  &__title {
    text-align: center;
    font-family: "Catamaran", sans-serif;
    text-transform: uppercase;
    color: rgba(254, 254, 254, 0.4);
    font-size: 30px;
    margin: 0;
    padding: 0;

    @media screen and (max-width: 1280px) {
      font-size: 22px;
    }

    @media screen and (max-width: 768px) {
      font-size: 24px;
    }

    &-desc {
      text-align: center;
      font-family: "Catamaran", sans-serif;
      text-transform: uppercase;
      color: rgba(254, 254, 254, 0.4);
      // text-shadow: 0px 0px 2px aquamarine, 0 0 1em orange;
      font-size: 15.3125rem;
      font-weight: bold;
      margin: 0;
      margin-bottom: 10%;
      padding: 0;
      line-height: 100%;
      animation: radial-pulse 20s infinite;

      p {
        margin: 0;
        padding: 0;
        line-height: 100%;
      }

      @media screen and (max-width: 1280px) {
        // display: none;
        font-size: 10rem;
        margin-bottom: 4%;
      }

      @media screen and (max-width: 1024px) {
        // display: none;
        font-size: 11.5rem;
        margin-bottom: 5%;
      }

      @media screen and (max-width: 768px) {
        // display: none;
        font-size: 8.5rem;
        margin-bottom: 0;
      }
    }
    
  }

  &__wrapper {
    position: relative;
    z-index: 15;
  }

  &_desc {
    display: block;
    font-family: "Catamaran", sans-serif;
    color: white;
    font-size: 1.5rem;
    padding-right: 40%;
    margin-bottom: 5%;

    @media screen and (max-width: 1280px) {
      font-size: 1.5rem;
      padding-right: 50%;
      margin-bottom: 4%;
      
    }

    @media screen and (max-width: 1024px) {
      // display: none;
      padding-right: 50%;
      padding-top: 5%;
      margin-bottom: 9%;
    }

    @media screen and (max-width: 768px) {
      font-size: 2rem;
      padding-right: 0;
      padding-top: 65%;
      margin-bottom: 1rem;
      text-align: center;
    }
  }

  &__boarder {
    position: absolute;
    bottom: 0%;
    right: 0%;
    z-index: 10;
    // width: 50vw;
    // height: auto;
    width: auto;
    height: 62vh;

    @media screen and (max-width: 1281px) {
      right: -1%;
      bottom: -8%;
      height: 65vh;
    }

    @media screen and (max-width: 1024px) {
      right: -10%;
      height: 58vh;
    }


    @media screen and (max-width: 768px) {
       bottom: 12%;
    }
  }

  &__mountains {
    position: absolute;
    bottom: 0%;
    right: 0%;
    // width: 100%;
    // height: 65%;
    z-index: 5;
    width: 100%;
    height: 62vh;
  }

  &__heel {
    position: absolute;
    bottom: 0%;
    right: 0%;
    width: 100%;
    z-index: 5;
  }

  &_btn{
    @media screen and (max-width: 768px) {
      margin-left: 27%;
      height: 4rem;
      width: 20rem;
      font-size: 1.475rem;
      margin-bottom: 2rem;
    }
  }
}

@keyframes radial-pulse {
  0% {
    text-shadow: none;
    }
  25% {
    // text-shadow: 0px 0px 1px aquamarine, 0 0 .5em orange;
    text-shadow: 1px 1px 1px #ff690f, 0 0 .5em white;
    }
 
  50% {
    text-shadow: 1px 1px 2px #ff690f, 0 0 1em white;
  }

  75% {
    // text-shadow: 0px 0px 1px aquamarine, 0 0 .5em orange;
    text-shadow: 1px 1px 1px #ff690f, 0 0 .5em white;
    }

    100% {
      text-shadow: none;
      }
}

.ob-offer {
  padding: 5% 0;
  background-color: #f7f7f7;

  // &__wrapper {
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: space-between;
  //   align-items: center;
  // }

  &__title {
    text-align: center;
    font-family: "Catamaran", sans-serif;
    text-transform: uppercase;
    color: black;
    font-size: 3.75rem;
    padding: 0;
    margin-top: 0;
  }

  &__desc {
    display: block;
    text-align: center;
    font-family: "Muli", sans-serif;
    font-weight: bold;
    color: rgba(54, 50, 50, 0.4);
    font-size: 1.425rem;
    line-height: 2rem;
    margin-bottom: 4rem;
  }

  &__cont-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  &__img {
    height: 100%;
    width: auto;

    &-wrapper {
      height: 25vh;

        @media screen and (max-width: 768px) {
          height: 16vh;

      }
    }
  }

  &__span {
    text-align: center;
    font-family: "Muli", sans-serif;
    text-transform: uppercase;
    font-weight: lighter;
    color: rgba(7, 7, 7, 0.8);
    font-size: 0.875rem;
    margin-top: 2rem;
  }

  &__h3 {
    text-align: center;
    font-family: "Catamaran", sans-serif;
    text-transform: uppercase;
    color: black;
    font-size: 1.5rem;
    padding: 0 15%;
  }

  &__btn {
    width: 10rem;
  }
}

.ob-photo {
  overflow: hidden;

  &__wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &__img {
    display: block;
    flex-grow: 1;
    width: 100%;
    height: auto;
    object-fit: cover;

    &:hover {
      border: 1px solid #ff690f;
    }
  }
}

.ob-crew {
  display: block;
  min-height: 50vh;
  height: auto;
  padding: 5% 0;
  background-color: #f7f7f7;

  &__title {
    text-align: center;
    font-family: "Catamaran", sans-serif;
    text-transform: uppercase;
    color: black;
    font-size: 3.75rem;
    font-weight: bold;
    padding: 0;
    margin: 0;
    margin-bottom: 5%;
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    min-height: 50vh;
    height: auto;

    
  }

  &__cont {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 50vh;
    height: auto;

    @media screen and (max-width: 768px) {
      min-height: 34vh;
      margin-bottom: 2rem;
    }

    @media screen and (max-width: 1024px) {
      // display: none;
      flex-basis: 50%;
    }

    &-img-wrap {
      border-radius: 50%;
      width: auto;
      height: 15rem;
      // overflow: hidden;
      transition: 0.8s;

      @media screen and (max-width: 1280px) {
        margin-bottom: 1rem;
      }

      &:hover {
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
        background-color: rgb(173, 164, 164);
      }
    }
  }

  &__img {
    display: block;
    width: auto;
    height: 15rem;
    object-fit: cover;

    &:hover {
      border-radius: 50%;
      border: .5px solid #ff690f;
    }
  }

  &__span {
    text-align: center;
    font-family: "Muli", sans-serif;
    text-transform: uppercase;
    font-weight: lighter;
    color: rgba(7, 7, 7, 0.8);
    font-size: 0.875rem;
  }

  &__name {
    text-align: center;
    font-family: "Muli", sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    color: rgba(7, 7, 7, 0.9);
    font-size: 1.5rem;
  }
}

.ob-mountain {
  min-height: 100vh;
  background-color: #76a4e6;
  background: url(../img/maontane_bc.jpg) no-repeat;
  background-size: cover;
  overflow: hidden;

  @media screen and (max-width: 1024px) {
    min-height: 80vh;
  }

  @media screen and (max-width: 768px) {
    overflow: auto;
    min-height: 48vh;
  }

  &__cont {
    padding: 14% 30% 15% 0;

    @media screen and (max-width: 1280px) {
      padding: 0 5%;
    }
  }

  &__title {
    font-family: "Catamaran", sans-serif;
    text-transform: uppercase;
    font-size: 3.75rem;
    font-weight: bold;
    line-height: 4.75rem;

    @media screen and (max-width: 1280px) {
      padding-top: 2%;
      font-size: 2.75rem;
      line-height: 3.75rem;
    }

    @media screen and (max-width: 1024px) {
      font-size: 2.75rem;
      line-height: 3.75rem;
    }
    @media screen and (max-width: 768px) {
      margin: 0;
      margin-top: 1rem;
    }
  }

  &__descr {
    font-family: "Muli", sans-serif;
    font-weight: bold;
    color: rgba(54, 50, 50, 0.9);
    font-size: 1.125rem;
    line-height: 2rem;

    p {


      @media screen and (max-width: 1280px) {
        font-size: 1.025rem;
        line-height: 1.3rem;
        padding-right: 35%;
      }

      @media screen and (max-width: 1024px) {
        font-size: 1.025rem;
        line-height: 1.3rem;
        padding-right: 35%;
      }
    }
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10%;

    @media screen and (max-width: 1280px) {
      padding-top: 3%;
      padding-right: 38%;
    }

    // @media screen and (max-width: 1024px) {
    //   padding-right: 38%;
    // }

    @media screen and (max-width: 768px) {
      padding-top: 5%;
      padding-bottom: 5%;
    }
  }

  &__count {
    display: block;
    text-align: left;
    font-size: 2rem;
    color: #ff660d;
    font-weight: 700;

    &-descr {
      display: block;
      text-align: left;
      font-size: 1.125rem;
      color: black;
    }
  }
}

.ob-testemotional {
  overflow: hidden;
  min-height: 100vh;
  padding: 5% 0;
  margin: 0;
  text-align: center;
  margin: auto;
  background-color: #f7f7f7;

   @media screen and (max-width: 1280px) {
    min-height: 105vh;
  }

  @media screen and (max-width: 768px) {
    min-height: 65vh;
  }
  &__title {
    font-family: "Catamaran", sans-serif;
    text-transform: uppercase;
    font-size: 3.75rem;
    font-weight: bold;

    @media screen and (max-width: 1280px) {
     margin: 0 3rem;
    }
  
  }

  &__wrapper {
    width: 100wh;
  }

  &__img-wrapper {
    display: inline-block;
    border-radius: 50%;
  }

  &__name {
    display: block;
    padding: 1% 30%;
    font-family: "Muli", sans-serif;
    font-weight: bold;
    color: black;
    font-size: 1.5rem;
    text-transform: uppercase;
  }

  &__descr {
    display: block;
    padding: 1% 25%;
    font-family: "Muli", sans-serif;
    font-weight: bold;
    color: rgba(54, 50, 50, 0.9);
    font-size: 1.125rem;
    line-height: 2rem;
  }
}

// Slick slider
.slick-dots li button:before {
  opacity: 0.2;
  font-size: 1.2rem;
}

.slick-dots li.slick-active button:before {
  opacity: 7.75;
  font-size: 1.2rem;
  color: #ff660d;
}

.slick-dots {
  bottom: 15%;
}

.slick-dotted.slick-slider {
  margin-bottom: 0;
}

.ob-footer {
  display: flex;
  overflow: hidden;
  background-color: #2f2f2f;

  
  @media screen and (max-width: 1024px) {
    flex-wrap: wrap;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding: 3rem 6rem;

    @media screen and (max-width: 1280px) {
        flex-basis: 40%;
       }

    @media screen and (max-width: 1024px) {
      flex-basis: 100%;
      height: 50vh;
      padding-left: 30%;
    }

    @media screen and (max-width: 768px) {
      flex-basis: 100%;
      height: 34vh;
      padding-left: 30%;
    }

  }

  &__title {
    color: white;
    font-family: "Catamaran", sans-serif;
    text-transform: uppercase;
    font-size: 3.75rem;
    font-weight: bold;
    margin: 0;

    @media screen and (max-width: 1280px) {
      font-size: 2.75rem;
    }
  }

  &__info {


    @media screen and (max-width: 768px) {
      width: 67%;
    }

    &-section {
      .far,
      .fas {
        color: #ff660d;
        font-size: 1.125rem;
        width: 2rem;
      }
     

      span {
        font-family: "Muli", sans-serif;
        font-weight: 400;
        color: rgb(247, 247, 247);
        font-size: 1.125rem;
        line-height: 2rem;
      }

      a {
        font-family: "Muli", sans-serif;
        font-weight: 400;
        color: rgb(247, 247, 247);
        font-size: 1.125rem;
        line-height: 2rem;
      }
    }
  }

  &__social {
    width: 25%;
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 1024px) {
      width: 61%;
      margin-top: 1rem;
    }

    &-link {
      color: #ff660d;
      font-size: 2.125rem;
      // width: 2rem;
    }
  }
  .ob-map {
    height: 100%;
    width: auto;
  }
  &__map {
    background-color: #fff;
    flex-grow: 1;
    height: 40rem;


    @media screen and (max-width: 1024px) {
      flex-basis: 100%;
      height: 50vh;
    }

    
    @media screen and (max-width: 768px) {
      flex-basis: 100%;
      height: 50vh;
    }
  }
}
