@charset "UTF-8";
body {
  font-family: "Muli", sans-serif;
  position: relative; }

@media screen and (max-width: 1024px) {
  .container2 {
    padding: 0 5%; } }

@media screen and (max-width: 1281px) {
  .container2 {
    padding: 0 5%; } }

@media screen and (max-width: 768px) {
  .cloud {
    height: 443px !important; } }

a {
  text-decoration: none; }

.ob-btn {
  display: inline-flex;
  background-color: #ff690f;
  color: #fff;
  border: 1px solid currentColor;
  height: 2.5rem;
  width: 13.5rem;
  border-radius: 0.8rem;
  align-items: center;
  font-size: 0.875rem;
  padding: 0 1em;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  outline: none; }
  .ob-btn__arrow {
    margin-left: 0.75rem;
    padding-left: 0.75rem;
    border-left: 1px solid currentColor; }
  .ob-btn:hover {
    color: aquamarine;
    border: 1px solid aquamarine;
    background-color: #ff9d62; }
  .ob-btn:active {
    background-color: #ee5900; }
  @media screen and (max-width: 1281px) {
    .ob-btn {
      height: 2.2rem;
      width: 11.5rem;
      border-radius: 0.6rem;
      align-items: center;
      font-size: 0.775rem;
      padding: 0 1em;
      letter-spacing: 0.05em; } }
  @media screen and (max-width: 1024px) {
    .ob-btn {
      height: 2.2rem;
      width: 11.5rem;
      border-radius: 0.6rem;
      align-items: center;
      font-size: 0.775rem;
      padding: 0 1em;
      letter-spacing: 0.05em; } }

.ob-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 119px;
  display: flex;
  align-items: center;
  overflow: hidden; }
  .ob-header-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0 5%;
    overflow: hidden; }

.ob-menu {
  display: flex;
  align-items: center;
  list-style: none; }
  .ob-menu__item {
    position: relative; }
  .ob-menu__item + .ob-menu__item {
    margin-left: 2.5rem; }
    @media screen and (max-width: 1280px) {
      .ob-menu__item + .ob-menu__item {
        margin-left: 2rem; } }
  .ob-menu__link {
    color: white;
    text-decoration: none;
    font-size: 0.875rem;
    text-transform: capitalize;
    transition: 0.4s;
    outline-color: yellowgreen; }
    @media screen and (max-width: 1280px) {
      .ob-menu__link {
        font-size: 1rem; } }
    @media screen and (max-width: 1024px) {
      .ob-menu__link {
        display: block;
        font-size: 4.875rem;
        font-weight: 700;
        color: #ff690f;
        text-transform: uppercase;
        width: 100%; }
        .ob-menu__link:hover {
          background-color: solid rgba(255, 255, 255, 0.21) 2px; } }
    .ob-menu__link:hover {
      border-bottom: solid rgba(255, 255, 255, 0.21) 2px;
      text-shadow: 0px 0px 2px aquamarine, 0 0 1em orange; }

@media screen and (max-width: 1024px) {
  #menuOpen {
    opacity: 0; }
    #menuOpen:checked ~ .ob-menu__btn > span {
      transform: rotate(45deg); }
    #menuOpen:checked ~ .ob-menu__btn > span::before {
      top: 0;
      transform: rotate(0); }
    #menuOpen:checked ~ .ob-menu__btn > span::after {
      top: 0;
      transform: rotate(90deg); }
    #menuOpen:checked ~ .ob-menu {
      transform: translateX(0); }
  .ob-menu {
    position: fixed;
    left: 0;
    top: -17px;
    width: 100vw;
    min-height: 100vh;
    background-color: #fff;
    transform: translateX(-100%);
    flex-direction: column;
    align-items: flex-start;
    padding: 30px 15px 30px 30px;
    transition: transform 0.4s; }
    .ob-menu__item + .ob-menu__item {
      margin-left: 0; }
    .ob-menu_onClick {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      background-color: #2e5386;
      background: url(../img/header_background.jpg) no-repeat;
      background-size: cover; }
    .ob-menu-item_onClick {
      width: 100%;
      text-align: left; }
    .ob-menu-item_hover {
      background-color: rgba(255, 105, 15, 0.2); }
    .ob-menu__btn {
      display: flex;
      /* используем flex для центрирования содержимого */
      align-items: center;
      /* центрируем содержимое кнопки */
      position: fixed;
      top: 30px;
      right: 30px;
      width: 60px;
      height: 60px;
      cursor: pointer;
      z-index: 5;
      transition-duration: 0.25s; } }
    @media screen and (max-width: 1024px) and (max-width: 768px) {
      .ob-menu__btn {
        right: 70px; } }

@media screen and (max-width: 1024px) {
      .ob-menu__btn > span,
      .ob-menu__btn > span::before,
      .ob-menu__btn > span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 4px;
        background-color: rgba(255, 105, 15, 0.7);
        transition-duration: 0.25s; }
      .ob-menu__btn > span::before {
        content: "";
        top: -15px; }
      .ob-menu__btn > span::after {
        content: "";
        top: 15px; } }

.ob-hero {
  position: relative;
  min-height: calc(100vh - 119px);
  height: 100vh;
  width: 100%;
  background-color: #2e5386;
  background: url(../img/header_background.jpg) no-repeat;
  background-size: cover;
  padding: 15vh 0;
  margin: 0 auto;
  overflow: hidden; }
  .ob-hero__title {
    text-align: center;
    font-family: "Catamaran", sans-serif;
    text-transform: uppercase;
    color: rgba(254, 254, 254, 0.4);
    font-size: 30px;
    margin: 0;
    padding: 0; }
    @media screen and (max-width: 1280px) {
      .ob-hero__title {
        font-size: 22px; } }
    @media screen and (max-width: 768px) {
      .ob-hero__title {
        font-size: 24px; } }
    .ob-hero__title-desc {
      text-align: center;
      font-family: "Catamaran", sans-serif;
      text-transform: uppercase;
      color: rgba(254, 254, 254, 0.4);
      font-size: 15.3125rem;
      font-weight: bold;
      margin: 0;
      margin-bottom: 10%;
      padding: 0;
      line-height: 100%;
      animation: radial-pulse 20s infinite; }
      .ob-hero__title-desc p {
        margin: 0;
        padding: 0;
        line-height: 100%; }
      @media screen and (max-width: 1280px) {
        .ob-hero__title-desc {
          font-size: 10rem;
          margin-bottom: 4%; } }
      @media screen and (max-width: 1024px) {
        .ob-hero__title-desc {
          font-size: 11.5rem;
          margin-bottom: 5%; } }
      @media screen and (max-width: 768px) {
        .ob-hero__title-desc {
          font-size: 8.5rem;
          margin-bottom: 0; } }
  .ob-hero__wrapper {
    position: relative;
    z-index: 15; }
  .ob-hero_desc {
    display: block;
    font-family: "Catamaran", sans-serif;
    color: white;
    font-size: 1.5rem;
    padding-right: 40%;
    margin-bottom: 5%; }
    @media screen and (max-width: 1280px) {
      .ob-hero_desc {
        font-size: 1.5rem;
        padding-right: 50%;
        margin-bottom: 4%; } }
    @media screen and (max-width: 1024px) {
      .ob-hero_desc {
        padding-right: 50%;
        padding-top: 5%;
        margin-bottom: 9%; } }
    @media screen and (max-width: 768px) {
      .ob-hero_desc {
        font-size: 2rem;
        padding-right: 0;
        padding-top: 65%;
        margin-bottom: 1rem;
        text-align: center; } }
  .ob-hero__boarder {
    position: absolute;
    bottom: 0%;
    right: 0%;
    z-index: 10;
    width: auto;
    height: 62vh; }
    @media screen and (max-width: 1281px) {
      .ob-hero__boarder {
        right: -1%;
        bottom: -8%;
        height: 65vh; } }
    @media screen and (max-width: 1024px) {
      .ob-hero__boarder {
        right: -10%;
        height: 58vh; } }
    @media screen and (max-width: 768px) {
      .ob-hero__boarder {
        bottom: 12%; } }
  .ob-hero__mountains {
    position: absolute;
    bottom: 0%;
    right: 0%;
    z-index: 5;
    width: 100%;
    height: 62vh; }
  .ob-hero__heel {
    position: absolute;
    bottom: 0%;
    right: 0%;
    width: 100%;
    z-index: 5; }
  @media screen and (max-width: 768px) {
    .ob-hero_btn {
      margin-left: 27%;
      height: 4.2rem;
      width: 20rem;
      font-size: 1.475rem; } }

@keyframes radial-pulse {
  0% {
    text-shadow: none; }
  25% {
    text-shadow: 1px 1px 1px #ff690f, 0 0 .5em white; }
  50% {
    text-shadow: 1px 1px 2px #ff690f, 0 0 1em white; }
  75% {
    text-shadow: 1px 1px 1px #ff690f, 0 0 .5em white; }
  100% {
    text-shadow: none; } }

.ob-offer {
  padding: 5% 0;
  background-color: #f7f7f7; }
  .ob-offer__title {
    text-align: center;
    font-family: "Catamaran", sans-serif;
    text-transform: uppercase;
    color: black;
    font-size: 3.75rem;
    padding: 0;
    margin-top: 0; }
  .ob-offer__desc {
    display: block;
    text-align: center;
    font-family: "Muli", sans-serif;
    font-weight: bold;
    color: rgba(54, 50, 50, 0.4);
    font-size: 1.425rem;
    line-height: 2rem;
    margin-bottom: 4rem; }
  .ob-offer__cont-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; }
  .ob-offer__img {
    height: 100%;
    width: auto; }
    .ob-offer__img-wrapper {
      height: 25vh; }
      @media screen and (max-width: 768px) {
        .ob-offer__img-wrapper {
          height: 16vh; } }
  .ob-offer__span {
    text-align: center;
    font-family: "Muli", sans-serif;
    text-transform: uppercase;
    font-weight: lighter;
    color: rgba(7, 7, 7, 0.8);
    font-size: 0.875rem;
    margin-top: 2rem; }
  .ob-offer__h3 {
    text-align: center;
    font-family: "Catamaran", sans-serif;
    text-transform: uppercase;
    color: black;
    font-size: 1.5rem;
    padding: 0 15%; }
  .ob-offer__btn {
    width: 10rem; }

.ob-photo {
  overflow: hidden; }
  .ob-photo__wrapper {
    display: flex;
    flex-direction: column;
    height: 100%; }
  .ob-photo__img {
    display: block;
    flex-grow: 1;
    width: 100%;
    height: auto;
    object-fit: cover; }
    .ob-photo__img:hover {
      border: 1px solid #ff690f; }

.ob-crew {
  display: block;
  min-height: 50vh;
  height: auto;
  padding: 5% 0;
  background-color: #f7f7f7; }
  .ob-crew__title {
    text-align: center;
    font-family: "Catamaran", sans-serif;
    text-transform: uppercase;
    color: black;
    font-size: 3.75rem;
    font-weight: bold;
    padding: 0;
    margin: 0;
    margin-bottom: 5%; }
  .ob-crew__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    min-height: 50vh;
    height: auto; }
  .ob-crew__cont {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 50vh;
    height: auto; }
    @media screen and (max-width: 768px) {
      .ob-crew__cont {
        min-height: 34vh;
        margin-bottom: 2rem; } }
    @media screen and (max-width: 1024px) {
      .ob-crew__cont {
        flex-basis: 50%; } }
    .ob-crew__cont-img-wrap {
      border-radius: 50%;
      width: auto;
      height: 15rem;
      transition: 0.8s; }
      @media screen and (max-width: 1280px) {
        .ob-crew__cont-img-wrap {
          margin-bottom: 1rem; } }
      .ob-crew__cont-img-wrap:hover {
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
        background-color: #ada4a4; }
  .ob-crew__img {
    display: block;
    width: auto;
    height: 15rem;
    object-fit: cover; }
    .ob-crew__img:hover {
      border-radius: 50%;
      border: .5px solid #ff690f; }
  .ob-crew__span {
    text-align: center;
    font-family: "Muli", sans-serif;
    text-transform: uppercase;
    font-weight: lighter;
    color: rgba(7, 7, 7, 0.8);
    font-size: 0.875rem; }
  .ob-crew__name {
    text-align: center;
    font-family: "Muli", sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    color: rgba(7, 7, 7, 0.9);
    font-size: 1.5rem; }

.ob-mountain {
  min-height: 100vh;
  background-color: #76a4e6;
  background: url(../img/maontane_bc.jpg) no-repeat;
  background-size: cover;
  overflow: hidden; }
  @media screen and (max-width: 1024px) {
    .ob-mountain {
      min-height: 80vh; } }
  @media screen and (max-width: 768px) {
    .ob-mountain {
      overflow: auto;
      min-height: 48vh; } }
  .ob-mountain__cont {
    padding: 14% 30% 15% 0; }
    @media screen and (max-width: 1280px) {
      .ob-mountain__cont {
        padding: 0 5%; } }
  .ob-mountain__title {
    font-family: "Catamaran", sans-serif;
    text-transform: uppercase;
    font-size: 3.75rem;
    font-weight: bold;
    line-height: 4.75rem; }
    @media screen and (max-width: 1280px) {
      .ob-mountain__title {
        padding-top: 2%;
        font-size: 2.75rem;
        line-height: 3.75rem; } }
    @media screen and (max-width: 1024px) {
      .ob-mountain__title {
        font-size: 2.75rem;
        line-height: 3.75rem; } }
    @media screen and (max-width: 768px) {
      .ob-mountain__title {
        margin: 0;
        margin-top: 1rem; } }
  .ob-mountain__descr {
    font-family: "Muli", sans-serif;
    font-weight: bold;
    color: rgba(54, 50, 50, 0.9);
    font-size: 1.125rem;
    line-height: 2rem; }
    @media screen and (max-width: 1280px) {
      .ob-mountain__descr p {
        font-size: 1.025rem;
        line-height: 1.3rem;
        padding-right: 35%; } }
    @media screen and (max-width: 1024px) {
      .ob-mountain__descr p {
        font-size: 1.025rem;
        line-height: 1.3rem;
        padding-right: 35%; } }
  .ob-mountain__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10%; }
    @media screen and (max-width: 1280px) {
      .ob-mountain__wrapper {
        padding-top: 3%;
        padding-right: 38%; } }
    @media screen and (max-width: 768px) {
      .ob-mountain__wrapper {
        padding-top: 5%;
        padding-bottom: 5%; } }
  .ob-mountain__count {
    display: block;
    text-align: left;
    font-size: 2rem;
    color: #ff660d;
    font-weight: 700; }
    .ob-mountain__count-descr {
      display: block;
      text-align: left;
      font-size: 1.125rem;
      color: black; }

.ob-testemotional {
  overflow: hidden;
  min-height: 100vh;
  padding: 5% 0;
  margin: 0;
  text-align: center;
  margin: auto;
  background-color: #f7f7f7; }
  @media screen and (max-width: 1280px) {
    .ob-testemotional {
      min-height: 105vh; } }
  @media screen and (max-width: 768px) {
    .ob-testemotional {
      min-height: 65vh; } }
  .ob-testemotional__title {
    font-family: "Catamaran", sans-serif;
    text-transform: uppercase;
    font-size: 3.75rem;
    font-weight: bold; }
    @media screen and (max-width: 1280px) {
      .ob-testemotional__title {
        margin: 0 3rem; } }
  .ob-testemotional__wrapper {
    width: 100wh; }
  .ob-testemotional__img-wrapper {
    display: inline-block;
    border-radius: 50%; }
  .ob-testemotional__name {
    display: block;
    padding: 1% 30%;
    font-family: "Muli", sans-serif;
    font-weight: bold;
    color: black;
    font-size: 1.5rem;
    text-transform: uppercase; }
  .ob-testemotional__descr {
    display: block;
    padding: 1% 25%;
    font-family: "Muli", sans-serif;
    font-weight: bold;
    color: rgba(54, 50, 50, 0.9);
    font-size: 1.125rem;
    line-height: 2rem; }

.slick-dots li button:before {
  opacity: 0.2;
  font-size: 1.2rem; }

.slick-dots li.slick-active button:before {
  opacity: 7.75;
  font-size: 1.2rem;
  color: #ff660d; }

.slick-dots {
  bottom: 15%; }

.slick-dotted.slick-slider {
  margin-bottom: 0; }

.ob-footer {
  display: flex;
  overflow: hidden;
  background-color: #2f2f2f; }
  @media screen and (max-width: 1024px) {
    .ob-footer {
      flex-wrap: wrap; } }
  .ob-footer__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding: 3rem 6rem; }
    @media screen and (max-width: 1280px) {
      .ob-footer__wrapper {
        flex-basis: 40%; } }
    @media screen and (max-width: 1024px) {
      .ob-footer__wrapper {
        flex-basis: 100%;
        height: 50vh;
        padding-left: 30%; } }
    @media screen and (max-width: 768px) {
      .ob-footer__wrapper {
        flex-basis: 100%;
        height: 34vh;
        padding-left: 30%; } }
  .ob-footer__title {
    color: white;
    font-family: "Catamaran", sans-serif;
    text-transform: uppercase;
    font-size: 3.75rem;
    font-weight: bold;
    margin: 0; }
    @media screen and (max-width: 1280px) {
      .ob-footer__title {
        font-size: 2.75rem; } }
  @media screen and (max-width: 768px) {
    .ob-footer__info {
      width: 67%; } }
  .ob-footer__info-section .far,
  .ob-footer__info-section .fas {
    color: #ff660d;
    font-size: 1.125rem;
    width: 2rem; }
  .ob-footer__info-section span {
    font-family: "Muli", sans-serif;
    font-weight: 400;
    color: #f7f7f7;
    font-size: 1.125rem;
    line-height: 2rem; }
  .ob-footer__info-section a {
    font-family: "Muli", sans-serif;
    font-weight: 400;
    color: #f7f7f7;
    font-size: 1.125rem;
    line-height: 2rem; }
  .ob-footer__social {
    width: 25%;
    display: flex;
    justify-content: space-between; }
    @media screen and (max-width: 1024px) {
      .ob-footer__social {
        width: 61%;
        margin-top: 1rem; } }
    .ob-footer__social-link {
      color: #ff660d;
      font-size: 2.125rem; }
  .ob-footer .ob-map {
    height: 100%;
    width: auto; }
  .ob-footer__map {
    background-color: #fff;
    flex-grow: 1;
    height: 40rem; }
    @media screen and (max-width: 1024px) {
      .ob-footer__map {
        flex-basis: 100%;
        height: 50vh; } }
    @media screen and (max-width: 768px) {
      .ob-footer__map {
        flex-basis: 100%;
        height: 50vh; } }
